.message-bubble {
  max-width: 65%;
  padding: 10px 14px;
  margin: 6px 0;
  border-radius: 18px;
  position: relative;
  display: inline-block;
  clear: both;
}

.sent {
  background-color: #d1ffd6;
  color: black;
  align-self: flex-end;
  margin-left: auto;
  text-align: right;
}

.received {
  background-color: #eaeaea;
  color:black;
  align-self: flex-start;
  margin-right: auto;
  text-align: left;
}

.message-time {
  font-size: 0.75em;
  color: #666;
  display: block;
  margin-top: 4px;
}